.profile {
    padding: 74px 0 70px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 410px;
    box-sizing: border-box;
}

.profile__title{
    margin: 0 0 123px;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.profile__form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__field{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    min-height: 30px;
    cursor: text;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__input {
    margin: 0;
    padding: 0;
    width: 350px;
    border:none;
    outline: none;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.profile__border {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 17px;
}

.profile__button-submit{
    margin-top: 213px;
    min-height: 16px;
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.profile__logout{
    margin-top: 16px;
    min-height: 16px;
    color: #ff4062;
    border: none;
    background-color: white;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .profile{
        padding-top: 236px;
        padding-bottom: 269px;
    }

    .profile__title{
        margin-bottom: 96px;
    }
    .profile__button-submit{
        margin-top: 193px;
    }
}

@media screen and (max-width: 320px) {
    .profile{
        padding: 70px 30px 40px 30px;
    }

    .profile__title{
        margin-bottom: 80px;
    }

    .profile__input{
        width: 150px;
    }

    .profile__button-submit{
        margin-top: 362px;
        font-size: 12px;
        line-height: 15px;
    }

    .profile__logout{
        font-size: 12px;
        line-height: 15px;
    }
}